
header{
  display: flex;
  flex-direction: column;
  width: 200px;
}
.header-div{
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
  margin-left: 100px;
  font-size: 22px;
  font-weight: 300;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    -45deg,
    #e0eafc,   /* Soft Cool Blue */
    #cfdef3,   /* Pale Gray Blue */
    #f9f9f9,   /* Almost White */
    #c9d6ff    /* Light Powder Blue */
  );
  background-size: 300% 300%;
  animation: gradient 20s ease infinite;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #222; /* Dark text for contrast */
  font-family: "raleway", sans-serif;
}

.section-1-div{
  width: 100%;
  display: flex;               /* Make section a flex container */
  flex-direction: column;
  justify-content: center;     /* Center horizontally */
  height: 100vh;               /* Take full viewport height */
  text-align: center;          /* Center text inside children */
  margin-top: 100px;
}

.portfolio-div{
  font-size: 110px;
  font-weight:200;
}
.portfolio{
  margin-top: 0px;
  margin-bottom: 0px;
}

.year-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.year{
  font-size: 25px;
  font-weight: 300;
  border: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.name-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.name{
  font-size: 25px;
  font-weight: 300;
  border: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.col{
  width: 32px;
  height: 32px;
  border-radius: 60px;
  background-color: black;
  margin-right: 10px;
}