html {
    scroll-behavior: smooth;
}
header {
    font-family: 'Poiret One', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 0;
    text-align: center; /* center the nav horizontally */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

/* Make the ul horizontal */
header nav ul {
    display: flex;        /* horizontal layout */
    justify-content: center; /* center links in header */
    gap: 30px;            /* space between links */
    list-style: none;     /* remove bullets */
    padding: 0;
    margin: 0;
}

/* Optional: style the links */
header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    color: #3b5998;
}

.contact-us {
    background: transparent;
    color: black;
    border: none;
    font-family: 'Poiret One', sans-serif;
    font-weight: 600;
    font-size: 24px;
}
